@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root {
    --dark-blue: #006d77ff;
    --med-blue: #83c5beff;
    --light-blue: #edf6f9ff;
    --white: #fafafa;
    --light-peach: #ffddd2ff;
    --med-peach: #F1B9A5;
    --dark-peach: #e29578ff;
}

.login-body {
    background: url(../assets/bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 70%;
    height: 75%;
    border-radius: 15px;
}

.left {
    background: url(../assets/mini-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
}

.left h2 {
    letter-spacing: 1px;
    font-size: 70px;
    margin: auto 0px;
    color: var(--white);
}

.left img {
    width: 64px;
}

.right {
    background-color: var(--white);
    width: 50%;
    height: 100%;
    padding: 60px;
    color: #1e1e1e;
}

.title {
    font-size: 30px;
    margin-bottom: 5px;
}

.right p {
    color: #1e1e1e5f;
    width: 65%;
    margin-bottom: 60px;
}

.right form {
    display: flex;
    flex-direction: column;
}

.right form h4 {
    font-size: 24px;
    margin-bottom: 5px;
}

.right form label {
    width: 100%;
    margin-bottom: 30px;
}

.right form input {
    width: 100%;
    padding: 12px 10px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: #1e1e1e4c 1px solid;
}

.right form input:focus {
    box-shadow: #00a6e83f 0px 2px 8px 0px;
    border: var(--dark-blue) 1px solid;
    transition: all ease 0.3s;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.btns button {
    width: 47%;
    font-size: 18px;
    padding: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.btns button:first-child {
    border: var(--dark-blue) 2px solid;
    background-color: transparent;
    color: var(--dark-blue);
    border-radius: 5px;
}

.btns button:last-child {
    border: var(--dark-blue) 2px solid;
    background-color: var(--dark-blue);
    color: #fafafa;
    border-radius: 5px;
}

.btns button:first-child:hover,
.btns button:last-child:hover {
    box-shadow: #006d772c 0px 2px 8px 0px;
    transition: all ease 0.3s;
}

.right .sign {
    width: 100%;
    text-align: center;
    color: #1e1e1e;
    margin-bottom: 0px;
    margin-top: 85px;
    font-size: 18px;
}

.sign a,
.log a {
    color: #006d77ff;
}

.right .log {
    width: 100%;
    text-align: center;
    color: #1e1e1e;
    margin-bottom: 0px;
    margin-top: 25px;
    font-size: 18px;
}

.labels {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1e1e1e;
}

.labels label {
    width: 47% !important;
}

.wiki-body {
    background-color: var(--dark-blue);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.wiki-body article {
    height: 98%;
    padding: 20px 30px;
    overflow-y: auto;
    margin-right: 0.5%;
    border-radius: 20px;
    width: 96%;
    background-color: var(--white);
}

.wiki-body aside {
    height: 100%;
    width: 4%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding: 20px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* .wiki-body aside:hover {
    width: 10%;
    transition: all ease-in-out 0.3s;
}

.wiki-body aside:hover .wiki-body article {
    width: 90%;
    transition: all ease-in-out 0.3s;
} */

.hidden {
    display: none;
}

/* .wiki-body aside:hover .hidden {
    display: block;
    transition: all ease-in-out 0.3s;
} */
nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

nav a {
    padding: 10px;
    font-size: 22px;
    color: var(--white);
}

nav a:hover {
    transition: all ease 0.3s;
    color: var(--med-blue);
}

.brand img {
    width: 42px;
    height: 42px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-right {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.row {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-bar {
    width: 400px;
    display: flex;
    align-items: center;

}

.search-bar input {
    width: 90%;
    padding: 10px;
    background-color: var(--white);
    /* border-radius: 5px 0px 0px 5px; */
    border: none;
    color: #1e1e1e;
    font-size: 13px;
    outline: none;
    caret-color: var(--dark-blue);
    border-bottom: var(--dark-blue) 1px solid;
}

.search-bar i {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border-bottom: var(--dark-blue) 1px solid;
    padding: 12px 0px;
    /* border-radius: 0px 5px 5px 0px; */
}

.brand img {
    width: 42px;
    height: 42px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row {
    display: flex;
    align-items: center;
    gap: 5px;
}

main {
    display: flex;
    /* align-items: center; */
    margin-top: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.back {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #fafafa;
    border-radius: 200px;
    width: 50px;
    height: 50px;
    color: var(--dark-blue);
    padding: 10px 13px;
    letter-spacing: 2px;
    font-size: 24px;
}

.latest-wikis {
    width: 75%;
    height: 80vh;
    overflow-y: auto;
    padding: 0px 10px 10px 0px;
    /* background-color: red; */
    /* border: 2px solid var(--dark-blue); */
}

.col {
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: space-between;
}

.latest-cats {
    width: 100%;
    /* background-color: green; */
    background-color: #fff;
    height: fit-content;
    border: 2px solid var(--dark-blue);
    border-radius: 10px;
    padding: 20px 10px;
}

.latest-tags {
    width: 100%;
    background-color: #fff;
    height: fit-content;
    /* background-color: blue; */
    border: 2px solid var(--dark-blue);
    border-radius: 10px;
    padding: 20px 10px;
}

.latest-tags h2,
.latest-wikis h2,
.latest-cats h2,
.myWikis h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--dark-blue);
}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0px;
}

.category:not(:last-child) {
    border-bottom: #b0b0b0 1px solid;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
}

.addTags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    width: 100%;
    padding: 10px;
}

.addTags::-webkit-scrollbar {
    display: none;
}

.capsule {
    background-color: var(--med-blue);
    color: var(--dark-blue);
    padding: 5px 25px;
    border-radius: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px;
    margin-top: 40px;
}

.card {
    width: 48%;
    height: 150px;
    background-color: #fff;
    display: flex;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-side {
    height: 100%;
    width: 25%;
    /* object-fit: cover; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.card-body {
    width: 75%;
    padding: 5px 10px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-content {
    height: 60%;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-footer span:nth-child(1) {
    color: #b0b0b0;
}

.card-header a {
    color: #b0b0b0;
}

.card-header h4 {
    font-size: 20px;
}

.card-content span {
    font-size: 16px;
    color: var(--dark-blue);
    font-weight: 600;
}

.card-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.create-form {
    width: 600px;
    height: 720px;
    background-color: #fafafa;
    border-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    overflow: hidden;

}

.create-form h2 {
    display: flex;
    align-items: center;
    color: #1e1e1e;
    font-size: 30px;
    justify-content: center;
    padding: 20px;
}

.create-form form {
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


label h4 {
    font-size: 20px;
    color: #1e1e1e;
    margin-bottom: 5px
}


label input:focus,
label select:focus {
    box-shadow: #006d772c 0px 2px 8px 0px;
    border: var(--dark-blue) 1px solid;
    transition: all ease 0.3s;
}


.create-form input:not([type="checkbox"]) {
    padding: 12px 7px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #1e1e1e;
    outline: none;
    margin-bottom: 10px;

}

textarea {
    padding: 12px 7px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #1e1e1e;
    outline: none;
    margin-bottom: 10px;
}

select {
    padding: 12px 7px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #1e1e1e;
    outline: none;
    margin-bottom: 10px;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 10px;
}

.btns button {
    font-size: 18px;
    padding: 10px 15px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    width: 180px;
}

.btns button:first-child {
    border: var(--dark-blue) 2px solid;
    background-color: transparent;
    color: var(--dark-blue);
    border-radius: 5px;
}

.btns button:last-child {
    border: var(--dark-blue) 2px solid;
    background-color: var(--dark-blue);
    color: #fafafa;
    border-radius: 5px;
}

.btns button:first-child:hover,
.btns button:last-child:hover {
    box-shadow: #006d772c 0px 2px 8px 0px;
    transition: all ease 0.3s;
}

.tag {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
    justify-content: center;
}


.search-bar {
    width: 400px;
    display: flex;
    align-items: center;

}

.search-bar input {
    width: 90%;
    padding: 10px;
    background-color: var(--white);
    /* border-radius: 5px 0px 0px 5px; */
    border: none;
    color: #1e1e1e;
    font-size: 13px;
    outline: none;
    caret-color: var(--dark-blue);
    border-bottom: var(--dark-blue) 2px solid;
}

.search-bar i {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-bottom: var(--dark-blue) 2px solid;
    padding: 12px 0px;
    /* border-radius: 0px 5px 5px 0px; */
}

.myWikis {
    width: 100%;
    height: 80vh;
    overflow-y: auto;
    padding: 0px 10px 10px 0px;
}

.myWikis .card {
    width: 40%;
}

.dropbtn {
    font-size: 16px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding-left: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 5;
}

.dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.details-body {
    background: url(../assets/mini-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.details-container {
    width: 90%;
    height: 90%;
}

.wiki-header {
    height: 8%;
}

.details-container section {
    height: 92%;
}

.details-content {
    height: 95%;
}

.details-content h4 {
    height: 5%;
}

.details-content p {
    height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
}

.wiki-header a {
    background-color: var(--dark-blue);
    border-radius: 200px;
    width: 40px;
    height: 40px;
    color: var(--white);
    padding: 6px 10px;
    letter-spacing: 2px;
    font-size: 20px;
}
.wiki-footer p{
    color: #b0b0b0;
}

@media screen and (max-width: 1300px) {


    .card {
        width: 100%;
    }

    .latest-wikis {
        width: 100%;
        /* height: fit-content; */
    }
    .myWikis .card{
        width: 100%;
    }
}